@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Lobels Inventory Management System</h1>

   <p style=" font-size: 1.5rem;">
    The Inventory Tracking System is designed to enhance operational efficiency 
    for Lobels Biscuits and Sweet Company by providing a robust, web-based solution
     for managing inventory. This system streamlines the tracking process, minimizes human error,
      and offers real-time updates on product details, ensuring that the company can maintain optimal 
      stock levels and reduce financial losses
     due to expired or damaged products.
</p>
